---
const { classes } = Astro.props;
---

<table class={classes} cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div class="footer_88_31">
        <a target="_blank" href="https://98.js.org/"
          ><img src="/images/general/win98_89.gif" /></a
        >
        <a target="_blank" href="https://www.ultraguest.com/view/1734986805"
          ><img src="/images/general/88tgb-button1.gif" /></a
        >
        <a target="_blank" href="https://www.win-rar.com"
          ><img src="/images/general/adv_rar2.gif" /></a
        >
        <a target="_blank" href="https://www.angelfire.lycos.com/"
          ><img src="/images/general/angelfire.gif" /></a
        >
        <a target="_blank" href="https://www.gog.com/en/game/quake_the_offering"
          ><img src="/images/general/aniquake.gif" /></a
        >
        <a target="_blank" href=""
          ><img src="/images/general/anybrowser2.gif" /></a
        >
        <a target="_blank" href="https://www.newgrounds.com/"
          ><img src="/images/general/b3.jpg" /></a
        >
        <a
          target="_blank"
          href="https://store.steampowered.com/app/70/HalfLife/"
          ><img src="/images/general/b9.gif" /></a
        >
        <a target="_blank" href="https://clipart.com/"
          ><img src="/images/general/b11.gif" /></a
        >
        <a target="_blank" href="https://cdromance.org/psx-iso/"
          ><img src="/images/general/d15.gif" /></a
        >
        <a target="_blank" href="https://cdromance.org/n64-roms/"
          ><img src="/images/general/e7.gif" /></a
        >
        <a target="_blank" href="https://fauux.neocities.org/Love"
          ><img src="/images/general/e38.gif" /></a
        >
        <a
          target="_blank"
          href="http://web.archive.org/web/19961219074448/http://www7.netscape.com/"
          ><img src="/images/general/netscape.gif" /></a
        >
        <a
          target="_blank"
          href="http://web.archive.org/web/20010606152442/http://www.apple.com/quicktime/"
          ><img src="/images/general/quicktime.gif" /></a
        >
        <a target="_blank" href=""><img src="/images/general/index1.jpg" /></a>
      </div>
    </td>
  </tr>
</table>
