---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout_2000.astro";

---

<Layout>
  <table width="85%" cellpadding="5">
    <tbody>
      <tr>
        <td width="100%">
          <font face="Tahoma" size="3">
            <p>
              <b>What is the Montague Street Bridge?</b>
            </p>
          </font>
          <font face="Tahoma" size="1">
            <p>
              The Montague Street Bridge is a heritage-listed bridge located in
              Melbourne, Australia. It spans the railway cutting near Montague
              Street in South Melbourne. The bridge is a single span, steel beam
              bridge, with a reinforced concrete deck. It was built in 1918 by
              the Victorian Railways, and is one of the oldest bridges in
              Melbourne. The bridge is known for its low clearance, and has been
              the site of numerous accidents involving overheight vehicles.
            </p>
          </font>

          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.3019115464663!2d144.9488185149306!3d-37.82981733495682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad667f7693afbc1%3A0xce37901c43dc9910!2sMontague%20Street%20Bridge!5e0!3m2!1sen!2spl!4v1739054326308!5m2!1sen!2spl"
              width="400"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </p>

          <font face="Tahoma" size="3">
            <p>
              <b>Ok sure, but why this site?</b>
            </p>
          </font>
          <font face="Tahoma" size="1">
            <p>
              Around February 2016, a Tour Bus hit the Montague Street Bridge
              and took a large chunk out of the front of the bus. This looked to
              be a singular incident, but then soon after another truck hit the
              bridge... and then another... and then another. It became too much
              of a joke to ignore and I wanted to make a site to document the
              incidents.
            </p>
          </font>

          <font face="Tahoma" size="3">
            <p>
              <b>Why don't they just raise the bridge or lower the road?</b>
            </p>
          </font>
          <font face="Tahoma" size="1">
            <p>
              The Montague Street Bridge is a heritage-listed structure, and any
              alterations to the bridge would require approval from Heritage
              Victoria. The bridge is also located on a busy railway line, and
              any changes to the bridge would require extensive planning and
              coordination with the rail authorities. Lowering the road is also
              not a viable option, due to the presence of underground services
              and utilities. While the crashes are an inconvenience, the cost
              and disruption of altering the bridge or road wouldn't be worth
              it.
            </p>
          </font>

          <font face="Tahoma" size="3">
            <p>
              <b>Ah, I get it now. But why does this site look so weird?</b>
            </p>
          </font>
          <font face="Tahoma" size="1">
            <p>
              I and a growing subset of people are growing tired of algorithmic
              driven engagement and website all looking the same. I remember and
              have been going on a binge of <a href="https://oocities.org"
                >oocities.org</a
              >, a mirror of the old Geocities sites and was reminded of how raw
              and unique the web used to be before the rise of social media and
              the modern web. I wanted to return to simpler times and have a bit
              of fun with this site.
            </p>
          </font>
        </td>
      </tr>
    </tbody>
  </table>
</Layout>

