---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout_2000.astro";
---

<Layout>
  <table width="85%" cellpadding="5">
    <tbody>
      <tr>
        <td width="100%">
          <font face="Tahoma" size="1">
            <img
              src="/images/histogram.jpg"
              alt="histogram"
              style="image-rendering: optimizequality;"
              width="400px"
            />
          </font>
        </td>
      </tr>
    </tbody>
  </table>
</Layout>
