<!-- geocities style menu top bar -->
<div style="background-color: aqua; max-width: 500px">
  <div>Go back in time :^)</div>
  <div
    style="background-color: aqua; padding: 10px; border-radius: 5px; border: 1px solid black; display: flex; justify-content: space-around;"
  >
    <div
      style="background-color:linen; padding: 5px; border-radius: 5px; border: 1px solid black; color: black;"
    >
      <a href="/1990">
        <img src="/images/date_bar/1990.gif" alt="1990" style="width: 100px;" />
      </a>
    </div>
    <div
      style="background-color:linen; padding: 5px; border-radius: 5px; border: 1px solid black; color: black;"
    >
      <a href="/2000">
        <img src="/images/date_bar/2000.jpg" alt="2000" style="width: 100px;" />
      </a>
    </div>
    <div
      style="background-color:linen; padding: 5px; border-radius: 5px; border: 1px solid black; color: black;"
    >
      <a href="/2010">
        <img src="/images/date_bar/2010.jpg" alt="2010" style="width: 100px;" />
      </a>
    </div>
  </div>
</div>
