---
import DateBar from "../components/DateBar.astro";
---

<html>
  <head>
    <title>How Many Days Since The Montague Street Bridge Has Been Hit?</title>
    <link rel="stylesheet" href="/css/2010/monty.css" />
    <link rel="icon" href={"images/favicon.ico"} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href={"/rss.xml"}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <DateBar />
      <div style="margin-top: 20px; background-color: #fff; padding: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        Help wanted <br/>
        Do have experience in web engineering? Do you like entering dates? <br/>
        Do you like the Montague Street Bridge? Do you also like doing things for free? <br/>
        Are you tired of being asked questions? <br/>
        If you answered "yeah kinda" to some of these questions, please consider messaging me on montybalboacontact@gmail.com <br/>
        As I suck at updating this site and also suck at adding features and you all know it. <br/>
        This currently uses PagesCMS/Astro/Cloudflare Pages as I'm cheap, but if you have experience with other platforms, I'm open to suggestions. <br/>
        It would look great on your resume :O
      </div>
      <div class="section-width">
        <img class="header-image" src="/images/2010/general/MontyHeader.png" />
      </div>
      <slot />
      <div class="section-width section">
        <div>
          <span>Redesign heavily inspired by </span>
          <a target="_blank" href={"https://hiatus-hiatus.github.io/"}>
            https://hiatus-hiatus.github.io/
          </a>
        </div>
        <div>
          <a target="_blank" href={"https://github.com/TeeWallz/monty_balboa"}
            >View on Github</a
          >
        </div>
        <div>
          <a target="_blank" href={"/rss.xml"}>RSS Feed</a>
        </div>
        <div>
          <a target="_blank" href={"/chumps.json"}>"""API"""</a>
        </div>
      </div>
    </main>
  </body>
</html>
